# Logs
var
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Idea Files
.idea

# Bowery Files
.bowery
bowery.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# ignore public/dist
public/dist

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# comment test directory as of now
test
