doctype html
html
    head
        title Wheat Login
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/dist/css/style.min.css')
        
    body
    
    block content
    block scripts